@model _2012110516_ENT.Entities.CentroAtencion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>CentroAtencion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ubigeo.UbigeoId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ubigeo.UbigeoId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreCentroAtencion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreCentroAtencion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CentroAtencionId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
